<h2>Welcome, {{ student.loginid }}</h2>
<p>Email: {{ student.email }}</p>
<p>Contact: {{ student.contact }}</p>

<hr>
<h3>Available Subjects:</h3>
<ul>
    {% for subject in subjects %}
        <li>{{ Subject.name }} - <a href="#">Start Exam</a></li>
    {% empty %}
        <li>No Subjects available</li>
    {% endfor %}
</ul>

<hr>
<h3>Your Previous Results:</h3>
<table border="1">
    <tr>
        <th>Subject</th>
        <th>Marks</th>
        <th>Total Questions</th>
    </tr>
    {% for result in results %}
    <tr>
        <td>{{ result.Subject.name }}</td>
        <td>{{ result.totalmarks }}</td>
        <td>{{ result.totalquestion }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No exam results found.</td>
    </tr>
    {% endfor %}
</table>
